@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0052FF;
  --primary-hover: #0042cc;
  --hover: rgb(245,248,255);
  --ui-black: #0a0b0d;
  --ui-gray: #eef0f3;
  --ui-gray-hover: #dcdee1;
}